.header {
    padding-top: 43.56px;
    padding-bottom: 58px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 33px;
}

.nav_link {
    color: #83888F;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
}