.menu {
    padding-top: 125px;
    padding-bottom: 200.45px;
    background-repeat: no-repeat;
    background-image: url(../img/menu_bg.png);
    background-position: center 92px;
    align-items: center;
    justify-content: center;
}

.menu_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1111px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.menu_title {
    color: #333D4B;
    text-align: center;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    /* 133.333% */
    margin-bottom: 24px;
    max-width: 255px;
}

.menu_text {
    color: #333D4B;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    max-width: 246px;
}

.menu_1::before{
    content: "";
    display: inline-block;
    background-image: url(../img/coffee_1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 193px;
    margin-bottom: 71.55px;
}

.menu_2::before{
    content: "";
    display: inline-block;
    background-image: url(../img/coffee_2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 193px;
    margin-bottom: 71.55px;
}

.menu_3::before{
    content: "";
    display: inline-block;
    background-image: url(../img/coffee_2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 193px;
    margin-bottom: 71.55px;
}

.menu_4::before{
    content: "";
    display: inline-block;
    background-image: url(../img/coffee_2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 193px;
    margin-bottom: 71.55px;
}
.menu_item{
    margin-top: 126px;
    align-items: start;
}
